<!-- start custom head snippets -->


<!-- Load KaTeX -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script>

<!-- For Prism.js syntax highlighting -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism-twilight.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-latex.min.js"></script>

<!-- Make the citation block font smaller-->
<style>
    .citation-block pre {
        font-size: 0.6em;
    }
</style>

<!-- For rendering resume html-->
<style>
    .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 2em;
        font-size: 0.8em;
    }

    @media (max-width: 767px) {
        .markdown-body {
            padding: 15px;
        }
    }

    .resume-flex-block{
        display: flex;
        justify-content: space-between;
    }

    .resume-company{
        font-weight: bold;
        font-variant-caps: small-caps;
    }

    .resume-position{
        font-style: italic;
    }

    .resume-location{
        font-style: normal;
    }

    .resume-date{
        font-style: normal;
    }

    .resume-responsibilities-list{
        
        margin-top: 0.3em;
    }
</style>

 
<!-- end custom head snippets -->